<div  class="navbar-fixed" ng-mouseleave="navBlurred()">
	<nav>
    <div class="nav-wrapper">
      <a class="navbar-brand" ui-sref="home">Bender</a>
      <a
				ng-mouseenter="navFocused()"
			 	class="button-collapse right">&#9776;
			</a>
      <ul class="right hide-on-med-and-down">
				<li>
					<input ng-keydown="$event.which === 13 && keyDown(zipcode)" type="text" class="white-text" placeholder="Browse by Zipcode" ng-model="zipcode" >
				</li>
				<li>
					<input ng-keydown="$event.which === 13 && searchBreweries(brewery)" type="text" class="white-text input-field" placeholder="Search Breweries" ng-model="brewery" id="menu-search">
				</li>
				<li>
					<a ui-sref="mapView" ng-click="whereAmI()">Find Nearby Breweries</a>
				</li>
				<li>
					<a ui-sref="browseBeerStyles">Browse By Style</a>
				</li>
      </ul>

    </div>
		<div ng-show="click" class="col s12 m12 hide-on-large-only right ">
			<div class="black-text menu-selections">
				<ul class="menu-box">
					<div ng-click="click=!click" class="home-less-bold">
						<a id="black-text" ui-sref="mapView" ng-click="whereAmI()">Find Nearby Breweries</a>
					</div>
					<div class="home-less-bold">
						<a id="black-text" ui-sref="browseBeerStyles">Browse By Style</a>
					</div>
					<div class="home-less-bold input-field" id="black-text">
						<input ng-keydown="$event.which === 13 && searchBreweries(brewery)" type="text" class="black-text input-field" placeholder="Search Breweries" ng-model="brewery" id="menu-search">
					</div>
					<div class="home-less-bold input-field" id="black-text">
						<input ng-keydown="$event.which === 13 && keyDown(zipcode)" type="text" class="black-text input-field" placeholder="Browse by Zipcode" ng-model="zipcode" id="menu-search">
					</div>
				</ul>
			</div>
		</div>
  </nav>
</div>
