/*Home Page*/
	*{
			margin: 0;
			padding: 0;
		}
		body{
			background-color: black;
		}
		.links{
			position: absolute;
			background-color: transparent;
		}
		.home{
			width: 100vw;
			height: 90vh;
			background-image: url("./EOZpjI3oSqKPNnF2S4Tp_Untitled0.jpg");
			left: 1vw;
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: repeat;
			background-origin: border-box;
			background-clip: padding-box;
			background-attachment: fixed;
			background-color: black;
		}
		.trans-white{
			background-color: rgba(0,0,0,.75);
			border-radius: 1vw
		}
		@media(max-width:650px){
			.home-bold{
				font-size: 1.5em;
			}
			.home-less-bold{
				font-size: 1em;
			}
		}
		@media(min-width:650px){
			.home-bold{
				font-size: 4vh;
			}
			.home-less-bold{
				font-size: 2.5vh;
			}
		}
		/*.navbar-fixed{
			position: absolute;
		}*/
		.nav-wrapper{
			background-color: rgb(34,34,34);
		}
		.form-control{
			width: 10vw;
	}
/*end home page*/
/*NavBar*/
a.button-collapse{
		cursor: pointer;
		font-size: 3em;
	}
	a.navbar-brand{
		font-size: 60px;
		font-family: Poller One;
		color: #EDAC3F;
	}
	div input{
		color: white;
	}
	.menu-selections{
		background-color: rgba(0,0,0,.75);
		border-radius: 1vw;
		line-height: 6vh;
	}
	.menu-box{
		color: black;
		position: fixed;
		top: 14px;
		right: 75px;
		background-color: rgba(255,255,255,.85);
		border-radius: 10px;
	}
	#black-text{
		color: black;
	}
	ul div input.white-text {
		font-size: 1.25rem;
		text-align: left;
		border-bottom: none;
	}
	ul div.input-field{
		margin-left: -13px;
	}

	input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
		border: none;
	}

	div div ul div #menu-search::-webkit-input-placeholder {
	   color: rgba(0,0,0,.75);
	}

	div div ul div #menu-search:-moz-placeholder { /* Firefox 18- */
	   color: rgba(0,0,0,.75);
	}

	div div ul div #menu-search::-moz-placeholder {  /* Firefox 19+ */
	   color: rgba(0,0,0,.75);
	}

	div div ul div #menu-search:-ms-input-placeholder {
	   color: rgba(0,0,0,.75);
}
/*end Navbar*/
/*MapView*/
@media (min-width:800px) {
		.angular-google-map-container {
				height: 99vh;
				width: 70vw;
			}
	}
	@media (max-width:799px) {
		.angular-google-map-container {
				height: 60vh;
				width: 99vw;
			}
}
/*end of MapView*/
/*beer-styles*/
.card-cont{
		cursor: pointer;
		height: 15vh;
	}
	.beer-styles-icons{
		color: white;
		font-size: 3em;
		cursor: pointer;
	}
/*end beer-styles*/
/*brewery*/
