<nav-bar></nav-bar>
<div class="home valign-wrapper">
  <div class="valign">
    <div class="row center">
      <div class="col s12 m10 l10 offset-m1 offset-l1">
        <div class="card trans-white">
          <div class="card-content white-text">
            <p class="home-bold">
              You find yourself in the bar. You like beer but don't know what to
              order. There are so many styles. So many breweries. SO MANY BEERS.
            </p>
            <br /><br />
            <p class="home-less-bold">
              To get information on local breweries, input your zipcode above.
              Select local brewies from the map, browse their catalog and order
              with confidence.
            </p>
            <p class="home-less-bold">
              If you're just looking for information about beers, breweries, or
              beer styles, we got you covered there too!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
